<div class='container'>

  <!-- 1) list headlines w/ direct links -->
  <p><em>Fecha actualización: <%= site.items.latest.first.feed.updated %></em></p>

  <div class='contents'>

    <ol>

      <% site.items.latest.limit(17).each_with_index do |item,index| %>
        <li>
          <%= link_to item.title, item.url %>
          <!--span class='item-feed-title'>
            &bull; <%= link_to item.feed.title, item.feed.url %>
          </span-->
          <span class='item-published'>
            &bull;  <%= time_ago_in_words( item.published ) %>
          </span>
        </li>
      <% end %><!-- each item -->

    </ol>
  </div>

</div><!-- container -->
